* {
  padding: 0;
  margin: 0;
}

.container{
  margin: 1%;
  display: flex;
}

.item{
  width: 100px;
  height: 100px;
  margin: 2%;
  color: white;
  background-color: #FF00FF;
  font-size: 30px;
  text-align: center;
}

.item p{
  padding: 35px;
}

.justify{
  justify-content:space-around;
}

.center{
  justify-content: center;
}

.direction{
  flex-direction: column;
}

.reverse{
  flex-direction: column-reverse;
}