* {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.sky {
    background-color: blue;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    min-width: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.night {
    height: 100%;
    min-width: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: black;
    transition: opacity;
    animation: change_day 10s linear infinite;
    animation-direction: alternate;
    z-index: 0;
}

.fish {
    max-width: 20vh;
    max-height: 20vh;
    width: 20%;
    position: absolute;
    animation: fish_swim 20s linear infinite;
}

@keyframes fish_swim {
    0% {
        margin-left: 110%;
        top: 10%;
    }
    40% {
        top: 70%;
        margin-left: 50%;
    }
    60% {
        top: 70%;
        margin-left: 50%;
    }
    100% {
        margin-left: -10%;
        top: 10%;
    }
}

@keyframes change_day {
    0% {
        opacity: 0.0;
    }
    100% {
        opacity: 1;
    }
}

.thermometer {
    margin-left: 10vh;
    margin-top: 10vh;
    background-color: lightgray;
    height: 30vh;
    width: 10vh;
    box-shadow: -0.15vh -0.15vh 0.05px gray;
}

.mercury {
    margin: auto;
    margin-top: -2vh;
    width: 0.5vh;
    height: 30vh;
    background-color: red;
    transition: 2s;
}

.mercury:hover {
    margin-top: -15vh;
}

.mark {
    margin: 0.5vh 1vh;
}

.mark_part {
    margin: 0.5vh 3vh;
}

.pause {
    animation-play-state: paused;
}

.bubbles {
    width: 100%;
    height: 100%;
    background-image: url("../images/bubbles.png");
    animation: bubbles 20s linear infinite;
}

@keyframes bubbles {
    100% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    0% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
    }
}